<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

  </configSections>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_TsapiServer">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://172.16.0.201:9889/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_TsapiServer" contract="TsapiServer.TsapiServer"
                name="NetTcpBinding_TsapiServer" />
        </client>
    </system.serviceModel>
 <log4net>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">

        <conversionPattern value="%message%newline" />
      </layout>

    </appender>

    <appender name="FileAppender.Debug" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\\Debug.txt" />
      <param name="AppendToFile" value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="20MB" />
      <staticLogFileName value="true" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date[%-4thread][%-5level][%-20logger{1}] %message%newline" />
      </layout>
    </appender>

    <root>
      <!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
      <level value="ALL" />
      <appender-ref ref="FileAppender.Debug" />
      <appender-ref ref="ColoredConsoleAppender" />
    </root>
  </log4net>

</configuration>